---
- name: Update initramfs
  ansible.builtin.command: update-initramfs -u -k all
  changed_when: true

- name: Update grub
  ansible.builtin.command: update-grub
  changed_when: true

- name: Refresh EFI boot
  ansible.builtin.command: pve-efiboot-tool refresh
  changed_when: true
  failed_when: false
  when: ansible_facts['efi'] | default(false)
