# Managed by Ansible (proxmox_notifications). Local edits will be overwritten.
DEVICESCAN {{ proxmox_notifications_smartd_options }} -m {{ proxmox_notifications_email }} -M exec /usr/share/smartmontools/smartd-runner
