---
# Setup Tinc VPN mesh network for Proxmox cluster
#
# Usage:
#   ansible-playbook playbooks/tinc-vpn.yml -i inventory.yml
#
# Example inventory for 3-node cluster:
#   proxmox_nodes:
#     hosts:
#       node1:
#         tinc_vpn_ip_last: 1
#         tinc_connect_to: node2
#       node2:
#         tinc_vpn_ip_last: 2
#         tinc_connect_to: node3
#       node3:
#         tinc_vpn_ip_last: 3
#         tinc_connect_to: node1
#
- name: Setup Tinc VPN mesh network
  hosts: proxmox_nodes
  become: true
  serial: 1  # Run one host at a time to collect keys

  roles:
    - role: proxmox_tinc_vpn

  post_tasks:
    - name: Collect host configurations
      ansible.builtin.slurp:
        src: "/etc/tinc/{{ tinc_network_name | default('xsvpn') }}/hosts/{{ ansible_hostname | replace('-', '_') }}"
      register: host_config

    - name: Save host configuration locally
      ansible.builtin.copy:
        content: "{{ host_config.content | b64decode }}"
        dest: "{{ playbook_dir }}/../tinc_hosts/{{ ansible_hostname | replace('-', '_') }}"
        mode: "0644"
      delegate_to: localhost
      become: false

- name: Distribute host configurations
  hosts: proxmox_nodes
  become: true

  tasks:
    - name: Find all host configs
      ansible.builtin.find:
        paths: "{{ playbook_dir }}/../tinc_hosts"
        patterns: "*"
      register: host_configs
      delegate_to: localhost
      become: false
      run_once: true

    - name: Deploy host configurations
      ansible.builtin.copy:
        src: "{{ item.path }}"
        dest: "/etc/tinc/{{ tinc_network_name | default('xsvpn') }}/hosts/"
        mode: "0644"
      loop: "{{ host_configs.files }}"
      when: item.path | basename != (ansible_hostname | replace('-', '_'))
      notify: Restart tinc

  handlers:
    - name: Restart tinc
      ansible.builtin.systemd:
        name: "tinc-{{ tinc_network_name | default('xsvpn') }}"
        state: restarted
