---
dependency:
  name: galaxy
  options:
    requirements-file: ../../collections/requirements.yml

driver:
  name: delegated

platforms:
  - name: localhost
    ansible_connection: local

provisioner:
  name: ansible
  playbooks:
    converge: converge.yml
    verify: verify.yml

scenario:
  test_sequence:
    - dependency
    - destroy
    - converge
    - verify
    - destroy
