---
# Handlers for proxmox_base role

- name: Update APT cache
  ansible.builtin.apt:
    update_cache: yes

- name: Restart chrony
  ansible.builtin.systemd:
    name: chrony
    state: restarted

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes
