---
name: shellcheck

"on":
  push:
    branches: [master, main]
    paths:
      - '**.sh'
      - '.shellcheckrc'
      - '.github/workflows/shellcheck.yml'
  pull_request:
    branches: [master, main]
    paths:
      - '**.sh'
      - '.shellcheckrc'
      - '.github/workflows/shellcheck.yml'

permissions:
  contents: read

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5  # v4.3.1

      - name: Run shellcheck
        run: |
          find . -path ./.git -prune -o -name '*.sh' -type f -print0 | xargs -0 shellcheck
